<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5696e2c1e7354333bf990c59a839b1e4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5696e2c1e7354333bf990c59a839b1e4" ></div>
        
</body>
<script>    
    
            var map_5696e2c1e7354333bf990c59a839b1e4 = L.map(
                "map_5696e2c1e7354333bf990c59a839b1e4",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1ff0290b93fb48d7a4e619f8e9f7a475 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5696e2c1e7354333bf990c59a839b1e4);
        
    
            var marker_65520106950e49f382e1cb2c4c09fc11 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(map_5696e2c1e7354333bf990c59a839b1e4);
        
    
            var icon_cd665de15fc342c98f64c241ec06c298 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_65520106950e49f382e1cb2c4c09fc11.setIcon(icon_cd665de15fc342c98f64c241ec06c298);
        
    
        var popup_168afd897d5741d394bdd8c49037040b = L.popup({"maxWidth": "100%"});

        
            var html_bea1d1c486124d29ac48d55625d94378 = $(`<div id="html_bea1d1c486124d29ac48d55625d94378" style="width: 100.0%; height: 100.0%;">IvankaTrump</div>`)[0];
            popup_168afd897d5741d394bdd8c49037040b.setContent(html_bea1d1c486124d29ac48d55625d94378);
        

        marker_65520106950e49f382e1cb2c4c09fc11.bindPopup(popup_168afd897d5741d394bdd8c49037040b)
        ;

        
    
    
            var marker_0c782d71c3584d0c817f406473636360 = L.marker(
                [39.7837304, -100.4458825],
                {}
            ).addTo(map_5696e2c1e7354333bf990c59a839b1e4);
        
    
            var icon_63c5cb7e858942b7a6e34038dc2ba0d6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0c782d71c3584d0c817f406473636360.setIcon(icon_63c5cb7e858942b7a6e34038dc2ba0d6);
        
    
        var popup_cc251698e6004c9bb65ab1ae768e75c1 = L.popup({"maxWidth": "100%"});

        
            var html_d47b24c74f244130b9df4fe5d746e780 = $(`<div id="html_d47b24c74f244130b9df4fe5d746e780" style="width: 100.0%; height: 100.0%;">MELANIATRUMP</div>`)[0];
            popup_cc251698e6004c9bb65ab1ae768e75c1.setContent(html_d47b24c74f244130b9df4fe5d746e780);
        

        marker_0c782d71c3584d0c817f406473636360.bindPopup(popup_cc251698e6004c9bb65ab1ae768e75c1)
        ;

        
    
    
            var marker_a04fcbddcb8549a9bc0130218b87ddbe = L.marker(
                [27.7567667, -81.4639835],
                {}
            ).addTo(map_5696e2c1e7354333bf990c59a839b1e4);
        
    
            var icon_92d0aa9aacfd4a3a9d60b55ac07c9189 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a04fcbddcb8549a9bc0130218b87ddbe.setIcon(icon_92d0aa9aacfd4a3a9d60b55ac07c9189);
        
    
        var popup_f8d0f911732e42ceb755e958828226b0 = L.popup({"maxWidth": "100%"});

        
            var html_7bbfba41eca64e03a932225daebf6c0b = $(`<div id="html_7bbfba41eca64e03a932225daebf6c0b" style="width: 100.0%; height: 100.0%;">parscale</div>`)[0];
            popup_f8d0f911732e42ceb755e958828226b0.setContent(html_7bbfba41eca64e03a932225daebf6c0b);
        

        marker_a04fcbddcb8549a9bc0130218b87ddbe.bindPopup(popup_f8d0f911732e42ceb755e958828226b0)
        ;

        
    
</script>