<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2a873830bad44ffa930c44b80da873d0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_2a873830bad44ffa930c44b80da873d0" ></div>
        
</body>
<script>    
    
            var map_2a873830bad44ffa930c44b80da873d0 = L.map(
                "map_2a873830bad44ffa930c44b80da873d0",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_41b37add934d4000b190de748d8fb39b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2a873830bad44ffa930c44b80da873d0);
        
    
            var marker_fdd856b5388943509cf12a1b77741960 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(map_2a873830bad44ffa930c44b80da873d0);
        
    
            var icon_b69ef30934c3486fa0f5bad78e319106 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_fdd856b5388943509cf12a1b77741960.setIcon(icon_b69ef30934c3486fa0f5bad78e319106);
        
    
        var popup_611c2c5051624211b1f45b127ad2a283 = L.popup({"maxWidth": "100%"});

        
            var html_a60bbb2bb68445eba59bf6f943e32337 = $(`<div id="html_a60bbb2bb68445eba59bf6f943e32337" style="width: 100.0%; height: 100.0%;">IvankaTrump</div>`)[0];
            popup_611c2c5051624211b1f45b127ad2a283.setContent(html_a60bbb2bb68445eba59bf6f943e32337);
        

        marker_fdd856b5388943509cf12a1b77741960.bindPopup(popup_611c2c5051624211b1f45b127ad2a283)
        ;

        
    
    
            var marker_d93b54ac55b84e598f84efcaf5184ec4 = L.marker(
                [39.7837304, -100.4458825],
                {}
            ).addTo(map_2a873830bad44ffa930c44b80da873d0);
        
    
            var icon_5043645a545d4a089e279c4873157c42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d93b54ac55b84e598f84efcaf5184ec4.setIcon(icon_5043645a545d4a089e279c4873157c42);
        
    
        var popup_34d2294d271d452fad54211381c954b6 = L.popup({"maxWidth": "100%"});

        
            var html_b46a60d0e4cf46398e2bbc4c80e9fd6e = $(`<div id="html_b46a60d0e4cf46398e2bbc4c80e9fd6e" style="width: 100.0%; height: 100.0%;">MELANIATRUMP</div>`)[0];
            popup_34d2294d271d452fad54211381c954b6.setContent(html_b46a60d0e4cf46398e2bbc4c80e9fd6e);
        

        marker_d93b54ac55b84e598f84efcaf5184ec4.bindPopup(popup_34d2294d271d452fad54211381c954b6)
        ;

        
    
    
            var marker_a40b4e1f8ca34b449e4622a3f09a9ef4 = L.marker(
                [27.7567667, -81.4639835],
                {}
            ).addTo(map_2a873830bad44ffa930c44b80da873d0);
        
    
            var icon_eea08f821d424d1ba310305d8db4f11b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a40b4e1f8ca34b449e4622a3f09a9ef4.setIcon(icon_eea08f821d424d1ba310305d8db4f11b);
        
    
        var popup_cd457eead6a64343a7d4f5e02178c67c = L.popup({"maxWidth": "100%"});

        
            var html_2edeff180e9f4a4c881c890c626f6f8b = $(`<div id="html_2edeff180e9f4a4c881c890c626f6f8b" style="width: 100.0%; height: 100.0%;">parscale</div>`)[0];
            popup_cd457eead6a64343a7d4f5e02178c67c.setContent(html_2edeff180e9f4a4c881c890c626f6f8b);
        

        marker_a40b4e1f8ca34b449e4622a3f09a9ef4.bindPopup(popup_cd457eead6a64343a7d4f5e02178c67c)
        ;

        
    
</script>